<a href="https://colab.research.google.com/github/bella470/Python_Class_DST/blob/main/first_class_python_JULY2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ('hello')

hello

# **Data Science**

Big Data

[link](www.linkedin.com/in/ain-nabila-mohd-rozi-397626208)

![download.png]()



1.   List item
2.   List item

<img src="Image title.format" alt="Text to image" style="width: 200px;"/>

In [ ]:
a = 10
b = 20

c = a^b

print(c)

print("AISHAH")

30
AISHAH

In [ ]:
c = a^b

In [ ]:
print(c)

30

In [ ]:
import pandas as pd

df = pd.read_csv('NFLX.csv')

df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-12-16,119.800003,123.000000,118.089996,122.639999,122.639999,13181000
1,2015-12-17,123.970001,126.349998,122.419998,122.510002,122.510002,17284900
2,2015-12-18,120.849998,122.190002,117.919998,118.019997,118.019997,17948100
3,2015-12-21,119.510002,119.589996,115.660004,116.629997,116.629997,11670000
4,2015-12-22,117.300003,117.430000,114.860001,116.239998,116.239998,9689000

In [ ]:
df.head(12)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-12-16,119.800003,123.000000,118.089996,122.639999,122.639999,13181000
1,2015-12-17,123.970001,126.349998,122.419998,122.510002,122.510002,17284900
2,2015-12-18,120.849998,122.190002,117.919998,118.019997,118.019997,17948100
3,2015-12-21,119.510002,119.589996,115.660004,116.629997,116.629997,11670000
4,2015-12-22,117.300003,117.430000,114.860001,116.239998,116.239998,9689000
5,2015-12-23,116.910004,118.559998,115.779999,118.160004,118.160004,9324300
6,2015-12-24,118.220001,118.800003,117.300003,117.330002,117.330002,3531300
7,2015-12-28,117.260002,117.349998,113.849998,117.110001,117.110001,8424300
8,2015-12-29,118.190002,119.599998,116.919998,119.120003,119.120003,8159200
9,2015-12-30,118.949997,119.019997,116.430000,116.709999,116.709999,8149700
10,2015-12-31,116.209999,117.459999,114.279999,114.379997,114.379997,9273000
11,2016-01-04,109.000000,110.000000,105.209999,109.959999,109.959999,20794800

In [ ]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1002,2019-12-10,296.119995,298.940002,292.019989,293.119995,293.119995,10476100
1003,2019-12-11,294.489990,299.429993,294.200012,298.929993,298.929993,5589800
1004,2019-12-12,295.670013,299.170013,295.059998,298.440002,298.440002,4766600
1005,2019-12-13,298.500000,301.799988,297.250000,298.500000,298.500000,3879700
1006,2019-12-16,300.850006,305.709991,298.630005,304.209991,304.209991,4658900

In [ ]:
df.shape

NameError: name 'df' is not defined

**Python Data Type**


1.   String
2.   Integer
3.   Float

In [ ]:
print ('Data Science') #String

print(8.8) #Float

2024 #Integer

Data Science
8.8

2024

In [ ]:
type ('Big Data')

str

In [ ]:
type (9.4)

float

In [ ]:
type(2025)

int

**int, float, complex**

In [ ]:
#complex

a = 3 + 6 * b

NameError: name 'b' is not defined

In [ ]:
!python --version

Python 3.10.12

In [ ]:
type('2024')

str

In [ ]:
type('265^&*')

str

**Boolean Data Type**



*   True (CL-T)
*   False (CL-F)

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

csv: comma-separated value

*Expressions, Variables, Conditions*

<ul>
    <li>subtraction: <b>-</b></li>
    <li>addition: <b>+</b></li>
    <li>division: <b>/</b></li>
    <li>floor division <b>//</b></li>
    <li>multiplication: <b>*</b></li>
    <li>modulus: <b>%</b></li>
    <li>exponent: <b>**</b></li>
</ul>

In [ ]:
x = 8
z = 2

y = x/z

y

4.0

In [ ]:
type(y)

float

In [ ]:
y = x // z #float division,always give integer result

In [ ]:
y

4

In [ ]:
type(y)

int

In [ ]:
b = 8
e = 3

f = b / e

f

2.6666666666666665

In [ ]:
f = b // e

In [ ]:
f

2

In [ ]:
b1 = 10%3 #remainder
b2 = 10%2 #every number modulus 2, if 0, it even. if beside 0, it odd
b3 = 11%2
b4 = 11%3

print(b1)
print(b2)
print(b3)
print(b4)

1
0
1
2

In [ ]:
2**3 #Exponent

8

In [ ]:
8**4

4096

**Variables**

do not use the same var as built in funtion

avoid using the same var many times

avoid using space instead use underscore

In [ ]:
type = 'Big Data'

In [ ]:
type(20)

TypeError: 'str' object is not callable

In [ ]:
1234 = 'Data science'

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-31-78ccb6b6abe7>, line 1)

In [ ]:
machine learning = 'Data Science'

SyntaxError: invalid syntax (<ipython-input-32-90a1c9da181f>, line 1)

In [ ]:
machine_learning = 'Data Science'

In [ ]:
machine_learning

'Data Science'

To find which variable has been used

In [ ]:
%whos

Variable           Type         Data/Info
-----------------------------------------
By                 type         <class 'selenium.webdriver.common.by.By'>
abc                int          2025
b                  int          8
b1                 int          1
b2                 int          0
b3                 int          1
b4                 int          2
c                  int          1
dr                 WebDriver    <selenium.webdriver.chrom<...>af7af9c3b25a4534580185")>
e                  int          3
f                  int          2
machine_learning   str          Data Science
options            Options      <selenium.webdriver.chrom<...>object at 0x7fb39c6edd50>
type               str          Big Data
webdriver          module       <module 'selenium.webdriv<...>m/webdriver/__init__.py'>
x                  int          8
y                  int          4
z                  int          2

In [ ]:
abc = 2025

**Conditions**

<ul>
    <li>equal: <b>==</b></li>
    <li>not equal: <b>!=</b></li>
    <li>greater than: <b>></b></li>
    <li>less than: <b>&lt;</b></li>
    <li>greater than or equal to: <b>>=</b></li>
    <li>less than or equal to: <b>&lt;=</b></li>
</ul>

In [ ]:
year = 2024

year == 2024

True

In [ ]:
year != 2024

False

In [ ]:
year ==2026

False