<a href="https://colab.research.google.com/github/bella470/Python_Class_DST/blob/main/Third_class_python_JULY2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Set**

setting the item in descending item

doesnt accept any duplicate item

set of string, according to the alphabet

In [1]:
s1 = {8.8, 'Data Science', 99, 2.2, 'Python'}

type(s1)

set

In [10]:
print (s1)

s1

{'Data Science', 2.2, 99, 'Python', 8.8}

{2.2, 8.8, 99, 'Data Science', 'Python'}

In [5]:
s2 = {20, -10, 0, 5, 99,-10, 20, 2.2, 88}

print (s2) #no duplicate

{0, 2.2, 99, 20, 5, -10, 88}

In [4]:
s2 #already sorted so highest is -1 and lowest is 0

{-10, 0, 2.2, 5, 20, 88, 99}

In [13]:
s2.add (10)

s2

{-10, 0, 2.2, 5, 10, 20, 88, 99}

In [8]:
s3 = {'data', 'ai', 'ML', 'pyhton', 'big data'}

s3 #according to alphabet but priority to capital letter

{'ML', 'ai', 'big data', 'data', 'pyhton'}

In [9]:
s4 = {'data', 'ai', 'ml', 'pyhton', 'big data'}

s4

{'ai', 'big data', 'data', 'ml', 'pyhton'}

In [11]:
s5 = {'Data', 'ai', 'ml', 'Pyhton', 'Big data'}

s5

{'Big data', 'Data', 'Pyhton', 'ai', 'ml'}

In [12]:
#add funtion

s5.add('nabila')

s5 #add according to the sets #it sort it own way to sort the set

{'Big data', 'Data', 'Pyhton', 'ai', 'ml', 'nabila'}

In [14]:
#remove #it will remive lower index first

s2.remove (88)

s2

{-10, 0, 2.2, 5, 10, 20, 99}

In [16]:
#intersection #about having two set and having it find common item in the two sets

#important for evaluation method later

#tuple list can be convert to set

set_a = {1, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14} #actual result
set_b = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11} #predicted result

set_a.intersection(set_b) #how many of the model predict correctly

{1, 3, 5, 7, 8, 9, 10, 11}

In [17]:
#union #intersection/union will get the accuracy

#higher accuarcy the better

set_a.union(set_b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [18]:
list_a = [1, 2, 3, 4, 1, 2, 5]

set_list_a = set(list_a)

set_list_a

{1, 2, 3, 4, 5}

In [19]:
#write a code to find the highest value in the list of numbers by using set only

list_b = [100, -99, 101, 88, 55.6, 0]

#convert to set and it will be sorted

set_list_b = set(list_b)

set_list_b

{-99, 0, 55.6, 88, 100, 101}

In [24]:
#convert back to list to print the highest value #cannot do it cause the index will be different

list_set_list_b = list (set_list_b)

print ('The highest value is: ', list_set_list_b[-1]) #wrong answer

#use max function to print the highest value

print (max(set_list_b))

The highest value is:  -99
101

In [25]:
#difference #those item in set a but not in the set b

#misprediction bcause the model not able to predict

set_a.difference(set_b)

{12, 13, 14}

In [26]:
#incorrectly predicted as it not in the actual result
set_b.difference (set_a)

{2, 4, 6}

**Dictionary**

difference from set

* each item is going to present a key & a value

* Key: value

* key can be any type

* value can be any type

*Dictionary: {key1:value1, key2:value2, .....keyn:valuen}

might have some issue with key

In [27]:
d1 = {'AI':99, 8.8:['ML', 'DL'], (1,2,3):['Big Data']}

d1

{'AI': 99, 8.8: ['ML', 'DL'], (1, 2, 3): ['Big Data']}

In [28]:
type(d1)

dict

In [29]:
#we have data that can represents other data
#definitely have index, the key of that item is the index
#key have to be a unique value

d1[(1,2,3)]

['Big Data']

In [31]:
#only calls all the keys

d1.keys()

dict_keys(['AI', 8.8, (1, 2, 3)])

In [33]:
#only calls all the values

d1.values()

dict_values([99, ['ML', 'DL'], ['Big Data']])

In [34]:
#use the key to change the value of certain key

d1['AI'] = -10

d1

{'AI': -10, 8.8: ['ML', 'DL'], (1, 2, 3): ['Big Data']}

In [35]:
#delete items using the key

d1.pop((1,2,3))

d1

{'AI': -10, 8.8: ['ML', 'DL']}

In [36]:
d2 = {[1,2]:99, (100, 200):['bell']}

d2 #dictionary doesn't accept list as a key cause mutable

TypeError: unhashable type: 'list'

In [37]:
d3 = {(1,2):99, (100, 200):['bell']}

d3 #dictionary accept tuple cause it immutable

{(1, 2): 99, (100, 200): ['bell']}

**if statement, elif statemet, else**

In [38]:
country = 'Malaysia'

if country == 'Malaysia':   #if it is true will go to another line
  print ('Country is Malaysia')

Country is Malaysia

In [39]:
if country == 'Singapore':      #False statement
  print ('Country is Singapore')

In [41]:
if country == 'Singapore':      #False statement
  print ('Country is Singapore')

else:
  print ('Country is Malaysia')

Country is Malaysia

In [46]:
if country == 'Singapore':      #False
  print ('Country is Singapore')

elif country == 'Thailand':     #False
  print ('Country is Thailand')

else:                          #True, will print this
  print ('Country is Malaysia')

Country is Malaysia

In [45]:
if country == 'Singapore':      #False
  print ('Country is Singapore')

elif country == 'Thailand':    #False
  print ('Country is Thailand')

elif country != 'Singapore':   #True
  print ('Country is unknown')

else:                          #Skip
  print ('Country is Malaysia')

Country is unknown

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/CondsTable.png" width="650" />

AND always false unless both are true

OR always true unless both are false

Opposite

In [47]:
country = 'Malaysia'
year = 2024

if country == 'Malaysia' and year == 2020: #True and False so become False
  print ('Country is Malaysia and year is not 2020')

In [48]:
if country == 'Malaysia' or year == 2020: #True or False so become true
  print ('Country is Malaysia and year is not 2020')

Country is Malaysia and year is 2020

In [50]:
if country == 'Malaysia' and year > 2020: #True and true so become true
  print ('Country is Malaysia and year is not 2020')

Country is Malaysia and year is not 2020

In [51]:
if country == 'Malaysia' and year == 2020: #True and False = False
  print ('Country is Malaysia and year is not 2020')

elif country == 'Malaysia' and year > 2020: #True and True = True
  print ('Country is Malaysia and year is earlier than 2024')

Country is Malaysia and year is earlier than 2024

In [56]:
#write a code for finding the even and odd numbers

#modulus

g = 20
h = 13

if h%2 == 0:
  print (h, 'is even number')

elif h%2 !=0:
  print (h, 'is odd number')

else:
  print (h, 'is odd number')

13 is odd number

In [57]:
num = 13

if num%2 == 0:
  print ('The number is even')

else:
  print ('The number is odd')

The number is odd

In [58]:
input_num = input ('Enter a number:')

input_num = int(input_num)

if num%2 == 0:
  print ('The number is even')

else:
  print ('The number is odd')

Enter a number:15
The number is odd

**Nested if, elif, else**

In [59]:
#nested if,elif, else

price = 1000
car = 'Proton'

if price > 500: #True
  if price == 700: #False
    print ('The price is more than 700')

  else:
    if price == 100 or car == 'Proton': #True
      print ('Car is Proton')

    else:
      print ('Price and car are unknown')

Car is Proton

In [60]:
price = 1000
car = 'Proton'

if price > 500: #True
  if price == 700: #False
    print ('The price is more than 700')

  else:
    if price == 100 or car == 'proton': #False
      print ('Car is Proton')

    else: #will print this instead
      print ('Price and car are unknown')

Price and car are unknown

In [62]:
price = 1000
car = 'Proton'

if price > 500: #True
  if price == 700: #False
    print ('The price is more than 700')

  elif price == 100 or car == 'proton': #using elif #false
      print ('Car is Proton')

  else: #will print this instead
      print ('Price and car are unknown')

Price and car are unknown

**Loops and while loop**

* the function can be repeated base on the condition

In [64]:
list_num = [100, 200, 300, 400, 500]

#manually
print (list_num[0])
print (list_num[1])
print (list_num[2])
print (list_num[3])
print (list_num[4])

100
200
300
400
500

**For Loop**

iterate over item instead of writing it many times

In [65]:
list_num

[100, 200, 300, 400, 500]

In [66]:
#automotically count according to the list #iterate over item instead of writing it many times

for i in list_num: #first loop, 100 then 200, then 300,...
  print (i)

100
200
300
400
500

In [67]:
#range #between number a to b

#count numbers

for num in range(1, 10):
  print (num)

1
2
3
4
5
6
7
8
9

In [68]:
numbers = [1, 2, 3, 4, 5, 6]

#write a code to print numbers below 5

for num in numbers: #iterate num in the list
  if num < 5:       #check condition if num<5
    print (num)     #print the num<5

1
2
3
4

In [69]:
#write a code to print numbers higher than 5

for num in numbers: #iterate num in the list
  if num > 5:       #check condition if num>5
    print (num)     #print the num>5

6

In [72]:
numbers1 = [-1, 2, 1, 3, 5, 4,0]

#write a code to print all the numbers below 5

for num in numbers1: #iterate num in the list
  if num < 5:       #check condition if num<5
    print (num)     #print the num<5

-1
2
1
3
4
0

**Print items in dictionary**

In [78]:
d1

{'AI': -10, 8.8: ['ML', 'DL']}

In [75]:
#print only keys

for i in d1:
  print (i)

AI
8.8

In [76]:
#print only values

for i in d1.values():
  print (i)

-10
['ML', 'DL']

In [77]:
#print both keys and values

for i in d1.items():
  print (i)

('AI', -10)
(8.8, ['ML', 'DL'])

**While**

* less use than for loop

In [79]:
numbers = [1, 2, 3, 4, 5, 6]

#write a code to print numbers below 5 by using while loop

i = 0 #counter base on index #1 #2 #3 #4 #5
num = None #checking the condition #1 #2 #3 #4 #5

while (num!=5): #True #True #True #True #True #False
  num = numbers[i]
  i = i+1
  print (num)

1
2
3
4
5

In [80]:
#write a code to print numbers below 5 by using while loop

i = 0 #counter base on index #1 #2 #3 #4 #5
num = None #checking the condition #1 #2 #3 #4 #5

while (num!=4): #True #True #True #True #False
  num = numbers[i]
  i = i+1
  print (num)

1
2
3
4

In [81]:
numbers = [1, 2, 3, 4, 5, 6] #if not putting the counter, it will become virus

#write a code to print numbers below 4 by using while loop

i = 0 #counter base on index #1 #2 #3
num = None #checking the condition #1 #2 #3

while (num!=3): #True #True #True #False
  num = numbers[i]
  i = i+1
  print (num)

1
2
3

In [84]:
#nested loops

names = ['Mohammed', 'Noor', 'Chyrel']

for a in names: #first loop
  print (a)     #print index names

  for b in (a):   #second loop
    print (b)     #print index alphabet in the index names

  print ('')      #print space between the index alphabet in the names

Mohammed
M
o
h
a
m
m
e
d

Noor
N
o
o
r

Chyrel
C
h
y
r
e
l

In [85]:
#write a code to print only the even numbers in range of numbers 20

for i in range (21):
  if i%2 ==0:
    print (i)

0
2
4
6
8
10
12
14
16
18
20

In [98]:
#create of those even number in a list
even_num = []
for i in range (21):
  if i%2 ==0:
    even_num.append (i) #add even num in the list

print (even_num) #print the final list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [96]:
type(even_num)

list

**Given a list of numbers, write a code to calculate the sum of even numbers in that list**

In [106]:
even_num = []
sum = 0

for i in range (21):
  if i%2 ==0:
    even_num.append (i) #add even num in the list
    sum = sum + i #add even num in the sum

    #print (sum) #add this if want to know how loop work

print (even_num) #print the final list
print ('The total of even numbers is', sum) #print the total of even numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
The total of even numbers is 110

In [107]:
nlist1 = range (10) #already initialize range
sum = 0

for i in nlist1:
  if i%2 ==0:
    sum = sum + i #add even num in the sum

print ('The total of even numbers is', sum) #print the total of even numbers

The total of even numbers is 20

**Given a string, write a code to calculate the number of vowels (a,e,i,o,u) in the string**

the string is: 'Hello World'

In [116]:
string1 = 'Hello World'
string2 = 'a,e,i,o,u'
sum_vwl = 0

for i in string1:
  if i in string2:
    print (i)

    sum_vwl = sum_vwl + 1 #count how many vowels in the string

print ('The total of vowels is', sum_vwl )

e
o
o
The total of vowels is 3

In [117]:
string = 'Hello World'
count_vowel = 0

for vow in string.lower():
  if vow in 'aeiou' :
    count_vowel += 1

print(count_vowel)

3

In [120]:
string = 'Artificial Intelligence'
count_vowel = 0

#don't have to mention any index

for vow in string.lower(): #make the string in lower case
  if vow in 'aeiou' :
    count_vowel += 1

    print (vow)

print('The number of vowels are:', count_vowel)

a
i
i
i
a
i
e
i
e
e
The number of vowels are: 10

In [121]:
set_a = {1, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14} #actual result
set_b = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11} #predicted result

set_a.intersection(set_b)

The number of vowels are: 8

***Function***

To define a function in Python, use the "def" keyword, followed by the function name, parentheses, and a colon. The body of the function is indented and contains the code to be executed when the function is called.

def funname(arguments):

In [125]:
def first_fun():
  '''
  This is my first function
  '''
  print ('This is my first function') #function body

In [126]:
first_fun()

This is my first function

In [127]:
def sum_num(a, b):
  '''This function is about summing two numbers'''
  c=a+b #can change to int or float but string takleh guna
  print (c)

In [128]:
sum_num(10, 5)

15

In [130]:
sum_num('Big', ' Data')

Big Data

In [133]:
def multi_num (a, b, c):
  '''This function is about multiplying three numbers'''
  d = a * b * c
  return (d) #print cannot used later #return can be use later

In [134]:
multi_num(10, 1, 2)

20

*print vs return*

To summarize, "print" is used to output values to the console for debugging or informational purposes, while "return" is used to send a value back from a function to the calling code. If you want to use the result of a function in other parts of your code, you need to use "return" to make that value available outside the function.



*print just shows the human user a string representing what is going on inside the computer. The computer cannot make use of that printing. return is how a function gives back a value. This value is often unseen by the human user, but it can be used by the computer in further functions.*

Write a function to find the even and odd numbers

In [147]:
def find_even_odd():
  input_num = input ('Enter a number:')

  input_num = int(input_num)

  if num%2 == 0:
    print ('The number is even')

  else:
    print ('The number is odd')

In [151]:
find_even_odd()

TypeError: find_even_odd() missing 1 required positional argument: 'num'

In [149]:
def find_even_odd(num):
  #input_num = input ('Enter a number:')

  #input_num = int(input_num)

  if num%2 == 0:
    print ('The number is even')

  else:
    print ('The number is odd')

In [142]:
find_even_odd (20)

The number is even

In [143]:
find_even_odd(13)

The number is odd

**write a function to find the highest value in a list without using other functions**

In [ ]:
#if not define

list_num = [100, 0, 5, 200, -20, 8.8]

highest = list_num[0]
lowest = list_num[0]

for i in list_num:
  if i > highest:
    highest = i

  if i < lowest:
    lowest = i

print ('The highest value in the list is:', highest)
pribt ('The lowest value in the list is:', lowest)

In [152]:
def highest_value(list_num1):
  highest_value = 0

  for i in list_num1:
    if i > highest_value:
      highest_value = i

  return (highest_value)

In [153]:
highest_value([100, 200, 0, 60, 50])

200

In [154]:
def lowest_value(list_num1):
  lowest_value = 0

  for i in list_num1:
    if i < lowest_value:
      lowest_value = i

  return (lowest_value)

In [155]:
lowest_value([100, 200, 0, 60, 50])

0

In [163]:
def max_min(list_num):

  highest = list_num[0]
  lowest = list_num[0]

  for i in list_num:
    if i > highest:
      highest = i

    if i < lowest:
      lowest = i

  print ('The highest value in the list is:', highest)
  print ('The lowest value in the list is:', lowest)

In [169]:
max_min([100, 0, 5, 200, -20, 8.8])

The highest value in the list is: 200
The lowest value in the list is: -20

In [166]:
list_num_1 = [300, 111, 400, -2, 0, 55, 8.8, -99, 1.5, 44]

In [168]:
max_min(list_num_1)

The highest value in the list is: 400
The lowest value in the list is: -99

In [170]:
%whos

Variable          Type        Data/Info
---------------------------------------
a                 str         Chyrel
b                 str         l
car               str         Proton
count_vowel       int         8
country           str         Malaysia
d1                dict        n=2
d3                dict        n=2
even_num          list        n=11
even_numbers      function    <function even_numbers at 0x7a42cb3dc700>
find_even_odd     function    <function find_even_odd at 0x7a42cb3dcaf0>
first_fun         function    <function first_fun at 0x7a42cb55ea70>
first_num         function    <function first_num at 0x7a42cb52fd90>
g                 int         20
h                 int         13
highest_value     function    <function highest_value at 0x7a42cb55e8c0>
i                 str         d
input_num         int         15
list_a            list        n=7
list_b            list        n=6
list_num          list        n=5
list_num_1        list        n=10
list_set_list_b   list        n=6
lowest_value      function    <function lowest_value at 0x7a42cb3de200>
max_min           function    <function max_min at 0x7a42cb3dde10>
mlti_num          function    <function mlti_num at 0x7a42cb52fb50>
multi_num         function    <function multi_num at 0x7a42cb3dc820>
names             list        n=3
nlist1            range       range(0, 10)
num               int         3
numbers           list        n=6
numbers1          list        n=7
price             int         1000
s1                set         {'Data Science', 2.2, 99, 'Python', 8.8}
s2                set         {0, 2.2, 99, 20, 5, -10, 10}
s3                set         {'ai', 'ML', 'pyhton', 'data', 'big data'}
s4                set         {'ai', 'ml', 'pyhton', 'data', 'big data'}
s5                set         {'ai', 'ml', 'Big data', <...>abila', 'Data', 'Pyhton'}
set_a             set         {1, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14}
set_b             set         {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
set_list_a        set         {1, 2, 3, 4, 5}
set_list_b        set         {0, 100, 101, 55.6, 88, -99}
string            str         Artificial Intelligence
string1           str         Hello World
string2           str         a,e,i,o,u
sum               int         20
sum_num           function    <function sum_num at 0x7a42cb3dcd30>
sum_vwl           int         3
vow               str         e
year              int         2024

**write a function to sum the even numbers in a list of numbers**

In [174]:
def sum_even (list_num2):
    sum = 0

    for i in list_num2:
        if i%2 == 0:
          sum = sum + i #add even num in the sum

    print ('The total of even numbers is', sum) #print the total of even numbers

In [175]:
sum_even(list_num_1)

The total of even numbers is 742

Find the missing value in the list below

list_missing = [1, 4, 3, 2, 5, 8,7]

sort

code to check difference between two item (5 + i)

sort guna list then for loop, if difference between 2 num

In [207]:
list_missing = [1, 4, 3, 2, 5, 8, 7, 10]

# Sort the list
list_missing.sort()

# Initialize an empty list to store missing numbers
missing_numbers = []

# Iterate through the sorted list and find missing numbers
for i in range(len(list_missing) - 1):
  current_num = list_missing[i]
  next_num = list_missing[i + 1]

# If the difference between consecutive numbers is more than 1,
# add the missing numbers to the list
  if next_num - current_num > 1:
      for missing in range(current_num + 1, next_num):
          missing_numbers.append(missing)

#return missing_numbers
print ('The missing number is:', missing_numbers)

The missing number is: [6, 9]

In [2]:
def find_missing_numbers(list_missing):
   # Sort the list
   list_missing.sort()

   # Initialize an empty list to store missing numbers
   missing_numbers = []

   # Iterate through the sorted list and find missing numbers
   for i in range(len(list_missing) - 1):
      current_num = list_missing[i]
      next_num = list_missing[i + 1]

   # If the difference between consecutive numbers is more than 1,
   # add the missing numbers to the list
      if next_num - current_num > 1:
          for missing in range(current_num + 1, next_num):
              missing_numbers.append(missing)

   #return missing_numbers
   print ('The missing number is:', missing_numbers)

In [3]:
list_miss1 = [1, 4, 3, 2, 5, 8, 7, 10, 13]

In [4]:
find_missing_numbers(list_miss1)

The missing number is: [6, 9, 11, 12]